includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon

parameters:
    level: 6
    checkMissingOverrideMethodAttribute: true
    paths:
        - .
    excludePaths:
        - vendor

    ignoreErrors:
        # TODO
        -
            path: 'src/mutex/RedisMutex.php'
            identifier: if.condNotBoolean
            message: '~^Only booleans are allowed in an if condition, mixed given\.$~'
            count: 1
        -
            path: 'src/mutex/TransactionalMutex.php'
            identifier: if.condNotBoolean
            message: '~^Only booleans are allowed in an if condition, mixed given\.$~'
            count: 1
        -
            path: 'tests/mutex/*Test.php'
            identifier: empty.notAllowed
            message: '~^Construct empty\(\) is not allowed\. Use more strict comparison\.$~'
            count: 6
        -
            path: '*'
            identifier: method.deprecated
            message: '~^Call to deprecated method getMockForAbstractClass\(\) of class PHPUnit\\Framework\\TestCase:\nhttps://github.com/sebastianbergmann/phpunit/issues/5241$~'
            count: 8
