includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon

parameters:
    level: 6
    checkMissingOverrideMethodAttribute: true
    paths:
        - .
    excludePaths:
        - vendor

    ignoreErrors:
        # TODO
        -
            path: 'src/Mutex/AbstractRedlockMutex.php'
            identifier: if.condNotBoolean
            message: '~^Only booleans are allowed in an if condition, mixed given\.$~'
            count: 1
        -
            path: 'src/Mutex/TransactionalMutex.php'
            identifier: if.condNotBoolean
            message: '~^Only booleans are allowed in an if condition, mixed given\.$~'
            count: 1
        -
            message: '~^Parameter #1 \$(redisAPI|redis) \(Redis\|RedisCluster\) of method Malkusch\\Lock\\Mutex\\RedisMutex::(add|evalScript)\(\) should be contravariant with parameter \$redisAPI \(mixed\) of method Malkusch\\Lock\\Mutex\\AbstractRedlockMutex::(add|evalScript)\(\)$~'
            identifier: method.childParameterType
            path: 'src/Mutex/RedisMutex.php'
            count: 2
        -
            path: 'tests/Mutex/*Test.php'
            identifier: empty.notAllowed
            message: '~^Construct empty\(\) is not allowed\. Use more strict comparison\.$~'
            count: 6
