includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon

parameters:
    level: 6
    checkMissingOverrideMethodAttribute: true
    paths:
        - .
    excludePaths:
        - vendor

    ignoreErrors:
        # TODO
        -
            path: 'tests/Mutex/*Test.php'
            identifier: empty.notAllowed
            message: '~^Construct empty\(\) is not allowed\. Use more strict comparison\.$~'
            count: 2
